.App {
  text-align: center;
  font-family: Arial;
  padding: 20px;
}

.product-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #d25757;
  padding: 15px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #aaa;
}
